
div#canvasWrapper{
  width: 90%;
  text-align: center;
  margin:0 auto;
}
canvas#shogi {
  border: 1px solid #999;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

ul#history{
  margin: 10px auto;
  padding: 0;
  list-style: none;
  height: 100px;
  overflow-y: scroll;
}

ul#history li{
  margin: 0;
  padding: 0 5%;
  border-bottom: 1px dashed #000;
}
ul#history li span{
  border: 1px solid #000;
  padding: 1px 5px;
}

ul#history li:nth-child(odd){
  background-color: #eee;
}

ul#history li:hover{
  background-color: #ddd;
  cursor: pointer;
}

div#labelSelect{
  position: fixed;
  bottom: 0;
  display: none;
  
  width: 100%;
  height: 50%;
  overflow-y: scroll;
}

div#labelSelect ul{
  width: 100%;
  list-style: none;
  background-color: #fff;
  padding: 10px 0;
}

div#labelSelect ul li{
  padding: 5px 5%;
  border-bottom: 1px dashed #000;
  
  text-align: center;
  font-size: 16px;
}
div#labelSelect ul li:nth-child(odd){
  background-color: #eee;
}

div#labelSelect ul li:hover{
  background-color: #ddd;
  cursor: pointer;
}